<h1>Controls and the ContextMenu</h1>

<p>Controls are user interface elements that are added to a WinForm and are used to allow users to perform various actions, as well as to present information to users.  Controls can be manually created from their respective classes, and their properties and events individually coded, or the can be visually added to a WinForm using the TradeStation Development Environment’s Form Designer, where they can be easily resized and moved to their appropriate location.  Following are the controls currently available to TradingApps.</p>

<h3>Chart</h3>

<img src="img/winforms/chart.png">
</br>
</br>
<p>The Chart control allows you to display one or more data series using a variety of 2D and 3D styles.  The following chart types are available:</p>

<ul>
	<li>Area</li>
	<li>Bar</li>
	<li>BoxPlot</li>
	<li>Bubble</li>
	<li>CandleStick</li>
	<li>Column</li>
	<li>Doughnut</li>
	<li>ErrorBar</li>
	<li>FastLine</li>
	<li>FastPoint</li>
	<li>Funnel</li>
	<li>Kagi</li>
	<li>Line</li>
	<li>Pie</li>
	<li>Point</li>
	<li>PointAndFigure</li>
	<li>Polar</li>
	<li>Pyramid</li>
	<li>Radar</li>
	<li>Range</li>
	<li>RangeBar</li>
	<li>RangeColumn</li>
	<li>Renko</li>
	<li>Spline</li>
	<li>SplineArea</li>
	<li>SplineAngle</li>
	<li>StackedArea</li>
	<li>StackedArea100</li>
	<li>StackedBar</li>
	<li>StackedBar100</li>
	<li>StackedColumn</li>
	<li>StackedColumn100</li>
	<li>StepLine</li>
	<li>Stock</li>
	<li>ThreeLineBreak</li>
</ul>



<p>
To utilize the Chart control, you create it and add it to a form as with any other control.  Additionally, you will need to create one or more ChartAreas to define the areas where plotting will take place.  You will also need to create one or more ChartSeries, which defines the data to be displayed in the ChartArea.  Optionally, axes and legends can be added.
</p>

<h3>Button</h3>
 
<p>Clicking on a button allows users to take some action, such as placing or canceling a trade.
Chart</p>
 
<p>The Chart control allows you to display one or more data series using a variety of 2D and 3D styles.  The following chart types are available:</p>

<ul>
<li>Area</li>
<li>Bar</li>
<li>BoxPlot</li>
<li>Bubble</li>
<li>CandleStick</li>
<li>Column</li>
<li>Doughnut</li>
<li>ErrorBar</li>
<li>FastLine</li>
<li>FastPoint</li>
<li>Funnel</li>
<li>Kagi</li>
<li>Line</li>
<li>Pie</li>
<li>Point</li>
<li>PointAndFigure</li>
<li>Polar</li>
<li>Pyramid</li>
<li>Radar</li>
<li>Range</li>
<li>RangeBar</li>
<li>RangeColumn</li>
<li>Renko</li>
<li>Spline</li>
<li>SplineArea</li>
<li>SplineAngle</li>
<li>StackedArea</li>
<li>StackedArea100</li>
<li>StackedBar</li>
<li>StackedBar100</li>
<li>StackedColumn</li>
<li>StackedColumn100</li>
<li>StepLine</li>
<li>Stock</li>
<li>ThreeLineBreak</li>
</ul>

<p>
To utilize the Chart control, you create it and add it to a form as with any other control.  Additionally, you will need to create one or more ChartAreas to define the areas where plotting will take place.  You will also need to create one or more ChartSeries, which defines the data to be displayed in the ChartArea.  Optionally, axes and legends can be added.</p>


<h3>TSChart</h3>

<p>
This control is based on the TradeStation Chart Analysis window, and offers a convenient way to display time series data.</p>

<h3>CheckBox</h3>

<img src="img/winforms/checkbox.png">
 
<p>Checkboxes allows users to select an option, and maintain a binary state of either on (checked) or off (unchecked).</p>

<h3>ComboBox</h3>

<img src="img/winforms/combobox.png">
 
<p>Presents a list of items from which users can select.  Clicking on the down arrow will display the list of items.</p>

<h3>DataGridView</h3>

<img src="img/winforms/DataGridView.png">

<p>The DataGridView control allows you to display data in a tabular format.</p> 
<p>Advanced functionality such as sorting is provided.</p>

<h3>DateTimePicker</h3>

<img src="img/winforms/DateTimePicker.png">
 
<p>The DateTimePicker will display a calendar control allowing users to select a date and/or time.  Clicking on the down arrow displays a calendar, from which a single or range of dates can be selected.</p>

<h3>GroupBox</h3>

<img src="img/winforms/groupbox.png">
 
<p>This control is provides a frame where related controls can be grouped. A name can optionally be supplied to further identify the controls in the group.</p>

<h3>Label</h3>

<img src="img/winforms/label.png">
 
<p>A label control is used to display a non-editable text string in a form.</p>

<h3>LinkLabel</h3>

<img src="img/winforms/linklabel.png">
 
<p>This control displays a hyperlink, which a user can click to perform an action such as opening a web page.<p>

<h3>ListView</h3>

<p>ListView allows you to display a collection of items in a multi column format.</p>

<h3>NumericUpDown</h3>
 
<p>The NumericUpDown control represents an up-down control (also known as a spin box) that displays numeric values. The displayed value can be incremented or decremented by clicking on the up or down arrow.</p>

<h3>Panel</h3>
 
<p>Creates an area within a form where related controls can be grouped.</h3>

<h3>ProgressBar</h3>
 
<p>The ProgressBar control offers visual feedback on the progress of a long running process.  Once created and added to a form or other control, the Minimum and Maximum properties can be set and then the Value property, some value between the Minimum and Maximum, is updated at various points throughout the calculation.  Once the calculation is complete, the control is typically hidden or destroyed.</p>

<h3>Radio Button</h3>
 
<p>The RadioButton control is typically grouped together with other RadioButtons to present a group of choices that are mutually exclusive.  Unlike the CheckBox class, you may make only a single selection within a group of radio buttons.</p>

<h3>Slider</h3>
 
<p>With the Slider, users can easily select a value from a defined range by dragging a “thumb” along a horizontal or vertical bar.  To use the Slider, simply create it, set Minimum and Maximum values, frequency of tick marks and an initial value.  An event handler can also be supplied to allow an analysis technique to respond to changes in real-time.</p>

<h3>TabControl</h3>

<p>The TabControl provides a way to save space and avoid a cluttered and confusing UI when many controls, or controls belonging to different groups, are needed in a form.</p>

<h3>TableLayoutPanel</h3>

<p>The TableLayoutPanel control creates subsections within a form that will maintain the sizes in either absolute or percentage values as a form is resized, without requiring additional code to move and size the individual sections.</p>

<h3>TextBox</h3>
 
<p>The TextBox class is a form control that displays a text string that can be edited by the user. The text will wrap within the specified width and height of the control. Scroll bars will appear if the text wraps outside the specified width and height boundaries.<p>

<h3>WebBrowser</h3>
 
<p>The WebBrowser control allows you to duplicate IE functionality inside of a WinForm.  This allows access to external web resources.  Additionally, this control will allow you to display programmatically created HTML commentary, similar to the existing Analysis Commentary, but with much more flexibility and fewer restrictions.
HTML-based TradingApps reside inside of this control.<p>

<h3>ContextMenu</h3>
 
<p>The context menu provides a convenient way to present a list of options or commands that can be selected by a user.</p>
