
<h1>Workflow to create a TradingApp or form-based analysis technique</h1>

<h3>Creating the UI using the Form Designer</h3>
<p>The new Resource Editor makes it a snap to create analysis techniques that contain forms. There’s no need to manually enter lines and lines of code to add a control and set its properties. Simply double click on the control you want to add, and then sets its properties and events using the same Properties Editor used for other components
</p>
<p>We’ll write the code for you.</p> 
<p>To add a form to your analysis technique, you can simply select Add Form from the code editor’s shortcut menu.</p>

<img src="img/winforms/add-form.png">

</br>
</br>
</br>
<p>Clicking on the ToolBox tabs will display a list of controls that can be added to the form.</p>

<img src="img/winforms/add-form2.png">
</br>
</br>
</br>
 
<p>Double clicking on a control will cause it to be added to the form.<p>

<img src="img/winforms/add-form3.png">
 
<p>A video demonstration of the new Resource Editor is available using the following link:</p> 
<a href="http://www.youtube.com/watch?v=BOOgkM5do3M&feature=youtu.be">http://www.youtube.com/watch?v=BOOgkM5do3M&</a>
</br>
<iframe width="560" height="315" src="//www.youtube.com/embed/BOOgkM5do3M" frameborder="0" allowfullscreen></iframe>



<!-- <h3 class="sub-title">Coding and Debugging<h3>-->

<h3>Using the Visual Debugger</h3>

<p>The Visual Debugger allows you to inspect the values of analysis technique variables, and monitor execution flow during run-time. You can easily set one or more breakpoints where you want your code to pause its execution, and then step through your code line by line, making it much easier to track down coding errors.</p>

<p>To get started, you simply set one or more breakpoints in your code using the Toggle Breakpoint menu item or pressing the F9 key from the new Debug menu.</p>
 
<img src="img/winforms/visual-debugger.png"> 
</br>
</br>
</br>

<p>After selecting your breakpoints, a red dot will appear next to each line where a breakpoint was set.</p>
 
<img src="img/winforms/breakpoint.png">
<img src="img/winforms/breakpoint2.png"> 
</br>
</br>
</br>

<p>At this point, variables are available to be inspected using the new Autos window.</p>

<img src="img/winforms/breakpoint3.png"> 
</br>
</br>
</br>

 
<p>A video demonstration of the new Debugger in action is available from the following link:</p> 

<a href="http://www.youtube.com/watch?v=onN7zgYxe-8&feature=youtu.be">http://www.youtube.com/watch?v=onN7zgYxe-8&</a>
</br>
<iframe width="560" height="315" src="//www.youtube.com/embed/onN7zgYxe-8" frameborder="0" allowfullscreen></iframe>